* {
    padding: 0;
    margin: 0;
}

#nav {
    background-color: black;
    justify-content: space-between;
    display: flex;
    padding: 2rem 8rem;
}

a {
    color: white;
}

#nav ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

#nav a {
    text-decoration: none;
}

#header {
    display: flex;
    padding: 64px;
}

#header h1 {
    border: 1px solid black;
    padding: 64px;
    padding-right: ;
    font-size: 80px;
}