* {
    padding: 0;
    margin: 0;
}

#nav {
    background-color: black;
    justify-content: space-between;
    display: flex;
    padding: 24px 124px;
}

#nav ul {
    list-style: none;
    display: flex;
}

#nav a {
    text-decoration: none;
    padding: 24px;
    color: white;
}

#header {
    display: flex;
    padding: 64px;
}

#header h1 {
    border: 1px solid black;
    padding: 64px;
    font-size: 80px;
}